.nav-project {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0!important;
    margin-bottom: 5px;
}

.nav-project-img {
    text-align: center;
    width: 80%;
    border-bottom: 1px solid #EDEDED;
}

.nav-project-img img {
    width: 218px;
    max-width: 20%;
}

.nav-project-list {
    margin: 10px 0 10px 0;
}

.nav-project-list ul {
    display: flex;
}
.nav-project-list  ul li {
    list-style: none;
}

.nav-project-list ul li a {
    text-decoration: none;
    color: #333333!important;
    font-size: 14px!important;
    font-weight: 800!important;
    padding: 13px 30px!important;
    letter-spacing: 1px!important;
    font-family: 'Raleway', sans-serif !important;
}

#nav-project-list-selected, .nav-project-list ul li a:hover {
    color: #009288!important;
    background-color: #F3F3F3;
}

.nav-project-icons {
    text-decoration: none;
    color: #333333;
}

#contador_itens_carrinho {
    background-color: #009288;
    padding: 3px 4px;
    border-radius: 3px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-size: 12px;
    width: 20px;
}

#nav-project-icon-atual, .nav-project-icons:hover {
    color: #009288;
}

section.destaques {
    padding: 20px;
    text-align: center;
    overflow: auto;
}


section.destaques h2 {
    display: inline-block;
    margin-right: 20px;
}

section.destaques h3{
    font-size: 25px;
}

.produtos-container {
    text-align: center;
}

.produto {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.destaques button {
    background-color: transparent;
    border: 2px solid #333;
    color: #333;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.destaques button:hover{
    background-color: #333;
    color: #fff;
}

