
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h4 {
    margin-bottom: auto;
}

label {
    margin-bottom: 0px;
}

.custom-form {
    max-width: 500px;
    margin: auto;
}
